{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="container box-element col-8">
            <form method="POST" action="">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary btn-block mt-3" style="background-color: #5460ff; width: 20%">Login</button>
                <a href={% url 'register' %} class="btn btn-primary" style="background-color: #5460ff; margin-top: 16px; width: 20%">Register Here</a>
            </form>
        </div>
    </div>
{#    <p class="cringe">i am incredibly based</p>#}
{% endblock %}